@font-face {
  font-family: "Exo2";
  src: url(./Exo2-Regular.ttf);
  font-weight: 400;
}
@font-face {
    font-family: "Exo2";
    src: url(./Exo2-SemiBold.ttf);
    font-weight: 600;
  }
@font-face {
  font-family: "Exo2";
  src: url(./Exo2-Bold.ttf);
  font-weight: 700;
}

