.gainer_table{
  padding: 20px;
  font-family: "Varela Round";
  .header {
    .title{
      font-size: 28px;
      padding: 2px 0px;
      letter-spacing: 1px;
    }
    .ammount {
      display: flex;
      flex-direction: row;
      .value {
        font-size: 18px;
        margin-right: 10px;
        direction: ltr;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}