.total_assets{
  padding: 20px;
  font-family: "Exo2";
  .header {
    .title{
      font-size: 28px;
      padding: 2px 0px;
      letter-spacing: 1px;
    }
    .ammount {
      display: flex;
      flex-direction: row;
      .value {
        font-size: 18px;
        margin-left: 10px;
      }
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}