.facebook-login-button {
  color: #343a40;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}
.facebook-login-button:hover {
  background: linear-gradient(to bottom left, #344675, #263148, #344675);
  color: white;
}
