.total_crypto_value{
  padding: 20px;
}

.TotalProfileValueIcon{
  width: 26px; 
  height: 26px;
}

#TotalValueDiv{
  margin: 0px auto;
  width: 50%;
  height: 50px;
  display: block;
  text-align: center;
  h2{
    text-align: center; 
    color: #05aa6b;
  }
}

#myChart{
  height: 250px; 
  width: 100%;
}

.ammount{
  display: flex;
  flex-direction: row;
  // align-content: center;
  // align-items: center;
  // flex-direction: column;
  .value{
    font-size: 18px;
    margin-left: 10px;
  }
  img{
    width: 25px;
    height: 25px;
  }
}