.textField_coin_list {
  width: 100%;
  max-height: 200px;
  z-index: 100;
  background-color: #d650d5;
  overflow: auto;
  position: absolute;
  list-style: none;
}

li {
  float: left;
  width: 100%;
}
.ul_button {
  width: 100%;
  background-color: #d650d5;
  border-bottom: 0.5px solid gray;
  padding: 6px 8px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  line-height: 1.75;
  border-radius: 10px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.ul_button:hover {
  background-color: #1d1d2783;
}

.button_text {
  color: black;
}
.text_field_div {
  display: flex;
  flex-direction: column;
}
.coin_select {
  width: 100%;
}
