.your_coins_table {
  padding: 20px;
  font-family: "Varela Round";
  .header{
    position: relative;
    .title{
      font-size: 28px;
      padding: 2px 0px;
      letter-spacing: 1px;
    }
   .add_coin{
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease;
    &:hover{
      box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.15);
      transform: scale(1.03);
      cursor: pointer;
    }
   }
  }
  .table{
    color: #fff;
    margin-top: 30px;
    tr{
      border-top: 1px solid #ffffff0c ;
    }
    td,th{
      border: none;
    }
    th{
      font-size: 16px;
    }
  }
}
