// ========== General CSS ============= //
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;900&display=swap");
@import "./assets/fonts/fonts.scss";

body {
  font-family: "Exo 2", sans-serif;
  background-color: #1e1e2f;
  border-top: 2px solid #f835d8;
}

// ========= Tables General Css =========== //

canvas {
  max-height: 300px;
}
// ========== Scroll bar CSS ============= //
::-webkit-scrollbar {
  width: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #464657;
  border-radius: 10px;
  &:hover {
    background: #686877;
  }
}
