.homepage {
  min-height: 100vh;
  padding: 30px 50px;
  .wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas:
      "advertise advertise"
      "sidebar tables";
    column-gap: 20px;
    row-gap: 20px;
    .advertise {
      grid-area: advertise;
      height: 10vh;
    }
    .sidebar {
      grid-area: sidebar;
      background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
      border-radius: 10px;
      padding: 10px;
      max-height: 300px;
    }
    .tables {
      grid-area: tables;
      display: grid;
      grid-template-columns: repeat(3,1fr);
      row-gap: 20px;
      column-gap: 20px;
      grid-template-areas:
        "total_coin_value total_coin_value total_coin_value"
        "your_coins your_coins total_assets_amt"
        "gainer loser coin_info";
      max-height: 100%;
      .total_coin_value, .total_assets_amt, .your_coins,.gainer, .loser, .coin_info{
        background-color: #27293e;
        color: #fff;
        border-radius: 10px;
        direction: rtl;
        text-align: right;
      }
      .total_coin_value {
        grid-area: total_coin_value;
      }
      .your_coins {
        grid-area: your_coins;
      }
      .total_assets_amt {
        grid-area: total_assets_amt;
      }
      .gainer{
        grid-area: gainer;
      }
      .loser{
        grid-area:loser;
      }
      .coin_info{
        grid-area:coin_info;
      }
    }
  }
}
.avatar_div {
  width: 50%;
  display: grid;
  grid-template-columns: 10% 40%;
}
