.homepage {
  min-height: 100vh;
  padding: 30px 20px;
  position: relative;
  .wrapper {
    position: relative;

    max-width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas:
      "advertise advertise"
      "sidebar tables";
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    .advertise {
      grid-area: advertise;
      height: 10vh;
    }
    .tables {
      z-index: 0;
      grid-area: tables;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 20px;
      grid-column-gap: 20px;
      grid-template-areas:
        "total_wallet_value total_wallet_value total_wallet_value"
        "your_coins your_coins total_assets_amt"
        "gainer loser coin_info";
      max-height: 100%;
      .total_wallet_value,
      .total_assets_amt,
      .your_coins,
      .gainer,
      .loser,
      .coin_info {
        background-color: #27293e;
        color: #fff;
        border-radius: 10px;
        direction: rtl;
        text-align: right;
      }
      .total_wallet_value {
        grid-area: total_wallet_value;
      }
      .your_coins {
        grid-area: your_coins;
      }
      .total_assets_amt {
        grid-area: total_assets_amt;
      }
      .gainer {
        grid-area: gainer;
      }
      .loser {
        grid-area: loser;
      }
      .coin_info {
        grid-area: coin_info;
      }
    }
  }
}
.avatar_div {
  width: 50%;
  display: grid;
  grid-template-columns: 10% 40%;
}
